#xxx{
  background:white;
  sdisplay:block;
}
ul,ol{
	list-style: none;
	padding: 0;
}
*{margin:0;padding: 0px}
.actions{
  position:fixed;
  top:0;
  left:0;
  padding: 20px;
}
.actions>svg{
	width:2em;
	height:2em;
	margin:0 10px;
	transition: all 0.3s;
}
.actions>svg.active{
	color: red;
	transform: scale(1.2);
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
    overflow: hidden;
 }
 .colors{
 	position: fixed;
 	top: 70px;
 	left:12px;
 }
 .colors>li{
 	width:20px;
 	height: 20px;
 	border-radius: 50%;
 	margin:15px;
 	border: 3px solid transparent;
 	transition: all 0.3s;
 }
.colors>li.red{
 	background: red;
 }
.colors>li.blue{
   background: blue;
}
.colors>li.green{
    background: green;
}
 .colors>li.active{
 	border: 3px solid #333333;
 	transform: scale(1.3);
 }