#canvas{
  background:white;
  display:block;
  position: fixed;
  top: 0;
  left: 0;
}
ul,ol{
	list-style: none;
	padding: 0;
}
body{
	overflow: hidden;
	min-width: 800px;
}
*{margin:0;padding: 0px}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
    overflow: hidden;
 }
.tools{
	position: relative;
	background: #EBECEB;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1;
	padding: 20px 0;
	width: 650px;
	margin-top: -106px;
	transition: .5s;
}
.tools.show{
	margin-top: 0px;
}
.tools:hover{
	margin-top: 0px;	
}
.tools>.actions{
	display: flex;
}
.tools>.actions .icon{
	width:28px;
	height:28px;
}
.sizes>li .icon{
	width:28px;
	height:28px;
	padding: 5px;
 }
.tools>.actions>li{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	transition: all 0.3s;
	margin: 0 2px;
	background: #CCCAC9;
	border: 2px solid transparent;
}
.tools>.actions>li.active{
	background: #93C8FF;
}
.tools>.actions>li:hover{
	cursor: pointer;
	border: 2px solid #93C8FF;
	
 }
 .colors{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #CBCCCB;
	margin: 0 10px 0 10px;
	border-radius: 5px;
	padding: 6px 2px;
 }
 .colors>.allColor{
	display: flex;
	width: 100px;
	justify-content: center;
	flex-wrap: wrap;
	background: #CBCCCB;
	padding: 4px;
	margin: 0 10px 0 10px;
	border-radius: 5px;
 }
 .colors>.allColor>li{
 	width:25px;
 	height: 25px;
	margin:2px;
	border-radius: 2px;
 	border: 2px solid transparent;
 	transition: all 0.3s;
 }
 .colors>.allColor>li:hover{
	border: 2px solid #93C8FF;
 }
 .colors>.currentColor{
	 width: 40px;
	 height: 40px;
	 margin-right: 16px;
	 border-radius: 50%;
 }
 .colors>.allColor>li.color1{
 	background: black;
 }
 .colors>.allColor>li.color2{
   background: blue;
}
.colors>.allColor>li.color3{
    background: red;
}
.colors>.allColor>li.color4{
    background: #549B77;
}
.colors>.allColor>li.color5{
    background: #FEAA39;
}
.colors>.allColor>li.color6{
    background: #CD2256;
}
.colors>.allColor>li.active{

 }

 .currentColor.color1{
	background: black;
}
.currentColor.color2{
  background: blue;
}
.currentColor.color3{
   background: red;
}
.currentColor.color4{
   background: #549B77;
}
.currentColor.color5{
   background: #FEAA39;
}
.currentColor.color6{
   background: #CD2256;
}

 .sizes{
	 display: flex;
 }

 .sizes>li{
	margin:0 2px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #CCCAC9;
	border: 2px solid transparent;
 }
 .sizes>li:hover{
	border: 2px solid #93C8FF;
	background: #CCCAC9;
	cursor: pointer;
 }
 .sizes>li.active{
	background: #94C9FF;
 }
 /* rem = pageWidht/20 */
@media (min-width:320px) and (max-width:500px){
	body{
		min-width: 100%;
	}
	.tools{
		width: 100%;
		padding-bottom: 6.25rem;
		border-bottom-right-radius: 0.62rem;
		border-bottom-left-radius: 0.62rem;
		position: relative;
		margin-top: -8rem;
	}
	.tools>.actions{
		justify-content: center;
	}
	.tools>.actions .icon{
		width:1.8rem;
		height:1.8rem;
	}
	.tools>.actions>li,
	.tools>.sizes>li{
		width:2.2rem;
		height:2.2rem;
	}
	 .tools>.colors{
		position: absolute;
		margin: auto;
		top: 4.5rem;
		padding: 0.38rem 2px;
	}
	.tools>.colors>.allColor{
		flex-wrap: nowrap;
		width: auto;
	}
	.tools>.colors>.allColor>li{
		width:1.8rem;
		height:1.8rem;
		margin:0.1rem;
	}
	.colors>.currentColor {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 1rem;
		border-radius: 50%;
	}
	.tools>.sizes{
		justify-content: center;
	}

}